body {
    transition: all 150ms;
}
.center {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 90vh;
  align-items: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: none;
    height: 50px;
    width: 100px;
}
#btn-1 {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

#btn-1:hover {
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    border: solid 2px black;
}

svg.dark:hover {
    fill: white;
}

svg.dark {
    fill: black;
}

svg {
    height: 100%;
    width: 100%;
}

svg.light:hover {
    fill: white;
}

#btn-2 {
    display: block;
    background-color: rgba(255, 255, 255, 1);
}

#btn-2:hover {
    display: block;
    background-color: rgba(255, 255, 255, 0.4);
    border: solid 2px white;
}

div {
    border-radius: 100px;
}